header{
    border-bottom: 1px solid rgb(184, 228, 249);
    padding: 0 0 30px 0;
}
body {
  background: linear-gradient(
    89.7deg,
    rgb(0, 0, 0) -10.7%,
    rgb(53, 92, 125) 88.8%
  );

  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
a{
    color:rgb(159, 13, 120);
   
}
.app-container {
  background: radial-gradient(
    827px at 47.3% 48%,
    rgb(255, 255, 255) 0%,
    rgb(138, 192, 216) 90%
  );
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background: rgb(184, 228, 249);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-submit {
  background:rgb(53, 92, 125);
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

.search-form-submit:hover {
  background:rgb(184, 228, 249) ;
  color: rgb(53, 92, 125);
 
}

.weather-app-data{
  display: flex;
  justify-content: space-between;
}
.weather-app-city{
  margin: 0;
  font-size: 46px;
  line-height: 48px;

}
.weather-app-details{
  font-size: 16px;
  color: rgb(53, 54, 125);
  line-height: 24px;
  font-weight: 500;

}
.weather-app-details strong{
color: rgb(159, 13, 120);
}

.weather-app-temperature-container{
  display: flex;
}
.weather-app-temperature{
font-size: 88px;
font-weight: bold;
line-height: 88px;
}

.weather-app-icon{
width: 88px;
height: 88px;

}
.weather-app-unit{
  margin-top: 10px;
  font-size: 28px;
}

.weather-forecast{
 margin-top: 20px;
 text-align: center;
 color: black;

 display: flex;
justify-content: space-around;
 

}

.weather-forecast-date{
    font-size: 16px;
    opacity:0.6;
}

.weather-forecast-temperature-min{
opacity: 0.5;
}

footer{
    border-top: 1px solid rgb(184, 228, 249);
    padding:  30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}